.footer {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin: 40px 0px;
  padding: 20px;
}

.footer a {
  text-decoration: underline;
  color: #185d18;
}

.footer a:hover {
  color: #104710;
}
