.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.intro h1 {
  text-align: center;
}

.headerIntro {
  font-family: "Nunito", sans-serif;
  display: block;
  font-size: 18px;
}

.dino {
  width: 200px;
  height: 200px;
}
