.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  padding-top: 0px;
}

.intro h1 {
  text-align: center;
}

.headerIntro {
  font-family: "Nunito", sans-serif;
  display: block;
  font-size: 18px;
}

.dino {
  max-width: 100%;
  width: calc(3390px / 5);
  height: calc(1616px / 5);
}

@media screen and (max-width: 700px) {
  .dino {
    height: auto;
  }
}
