.main {
  display: flex;
  justify-content: center;
  padding: 10px;
}

/* .main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding: 0px 10px;
} */

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  width: 900px;
  max-width: 100%;
}

.content h2 {
  margin-top: 40px;
}

.content ol {
  margin-left: 20px;
}

.content ol li {
  margin-bottom: 20px;
}

.content .ll {
  display: block;
  margin-top: 8px;
  color: rgb(81, 81, 81);
  font-size: 15px;
  border-left: 2px solid rgba(103, 125, 143, 0.253);
  padding-left: 8px;
}
